 .links {
     background-color: #f4f4f4;
     border-bottom: 2px solid #e4e4e4;
     /* width: 270px; */
     padding: 10px 80px;
     margin: 5px;
     height: 50px;
     text-align: center;
     cursor: pointer;
     font-size: 19px;

     border-radius: 2px;
     border: 1px solid #e4e4e4;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
     font-weight: bold;
     letter-spacing: 1px;
     /* overflow: auto; */

 }
.selected {
    /* Add styles for selected element here */
    background-color: #007bff; /* Example background color */
    color: #fff; /* Example text color */
  }


 .Selectedbtn {
     opacity: 0.9;
     border: 2px solid black;
 }

 