.App {
  text-align: center;
}

.heading{
  padding: 10px 20px;
  font-size: 50px;
  background-color:rgb(128, 152, 231);
}
.container{
  border:  2px solid black;
  width: 100%;
  display: flex;
  min-height: 100vh;
 max-height: auto;
}